[data-theme="light"] {
  /* Text colors Project */
  --primary-text-color: var(--blue-warm-vivid-70);
  --secondary-text-color: var(--color-secondary-07);
  --dark-text-color: var(--color-secondary-08);

  /* Border colors */
  --border-login-color: var(--cyan-vivid-40);
  --border-card-color: none;
  
  /* Background colors */
  --background: var(--gray-warm-2);
  --background-gray: var(--gray-warm-10);
}

